# Aplicaciones y directorios específicos
chromium/
Code - OSS/
ZapZap/
GitHub Desktop/
LabyMod/
LabyMod Launcher/
obsidian/
Todoist/
wasistlos/
thorium/
WebCord/
vesktop/
heroic/
GIMP/
inkscape/
openrazer/
discord/
Kingsoft/
microsoft-edge/
unity3d/
qBittorrent/
suyu/
blender/
calcure/
geany/
obs-studio/
VSCodium/
toughcookies/
sublime-text/
github-copilot/
rofi/
slimbookbattery/
zed/
Thunar/
!.config/spotify/Users/
rog/
TradingView/

# Archivos de configuración específicos
dconf/user
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
gtk-3.0/settings.ini
org.keshavnrj.ubuntu/WhatSie.conf
btop/btop.log
menus/applications-merged/wine-Programs-Hades 2-Play Hades 2.menu
menus/applications-merged/wine-Programs-Hades 2-Uninstall.menu
qBittorrent/qBittorrent-data.conf

# Directorios de configuración generales
dconf/
btop/
gtk-3.0/

spotify/Users/on72buxxtjvljfx9bwi3zg957-user/ad-state-storage.bnk
TabNine
Vlc
spotify/
dconf
QtProject.conf
easyeffects
krita
doom
nvim
btop
NuGet
nvim.bak
Thunar
smplayer
VirtualBox
winegui
rstudio