chromium
Code - OSS
ZapZap
GitHub Desktop
LabyMod
LabyMod Launcher
obsidian
Todoist
wasistlos
dconf/user
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
dconf/user
thorium
WebCord
vesktop
heroic
GIMP
inkscape
openrazer
discord
/spotify/Users/
Kingsoft
microsoft-edge
dconf/user
gtk-3.0/settings.ini
org.keshavnrj.ubuntu/WhatSie.conf
spotify/Users/on72buxxtjvljfx9bwi3zg957-user/ad-state-storage.bnk
unity3d
qBittorrent
suyu
